<div class="container">
  <!-- app/views/blogs/new.html.erb and app/views/blogs/edit.html.erb -->
  <% content_for :body_class, "blogs-#{action_name}" %>
  <% content_for :extra_styles do %>
    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% end %>

  <h1><%= action_name.capitalize %> Blog</h1>

  <div class="form-container">
    <%= form_with(model: @blog, local: true, html: { multipart: true }) do |form| %>
      <% if @blog.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

          <ul>
            <% @blog.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit 'Save Blog', class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= link_to 'Back', blogs_path, class: 'btn btn-secondary' %>
  </div>

</div>