<!-- app/views/blogs/show.html.erb -->
<div class="blog-container">
  <div class="blog-header">
    <% if @blog.image.present? %>
      <div class="blog-image">
        <%= image_tag(@blog.image) %>
      </div>
    <% end %>
    <div class="blog-details">
      <h1 class="blog-title"><%= @blog.title %></h1>
<!--      <p class="blog-author">By <%#= @blog.user.first_name + " " + @blog.user.last_name%></p>-->
      <p class="blog-author">By <%= link_to @blog.user.first_name + " " + @blog.user.last_name, profile_user_path(@blog.user) %></p>

      <p class="blog-content"><%= @blog.content %></p>

    </div>
  </div>

  <% if @blog.user == current_user %>
    <div class="blog-actions">
      <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-edit' %>
      <%= button_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-delete' %>
    </div>
  <% end %>

  <div class="back-link">
    <%= link_to 'Back', blogs_path, class: 'btn btn-back' %>
  </div>
</div>
