<div class="profile-container">
  <div class="user-profile-box">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>

    <div class="user-info">
      <p><strong>Email:</strong> <%= @user.email %></p>
      <%= image_tag(@user.avatar, style: "width:150px; height:150px; border-radius:50%;") if @user.avatar.attached? %>
    </div>

    <div class="profile-actions">
      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn-edit' %>
      <br>
      <%= button_to 'Delete My Account', user_registration_path, method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: 'btn-delete' %>
     <br> <%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>


    </div>
  </div>
</div>
